/* Titulo */
.titulo {
  display: flex;
  justify-content: center;
  align-content: center; }
  .titulo__1 {
    background-color: #185224;
    border: dashed 5px white;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-size: 85px;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    width: 100%; }

/* Navegacion */
.nav__1 {
  font-family: 'IBM Plex Mono', monospace;
  border-radius: 13px;
  font-size: 20px;
  padding: 3px;
  background-color: #000000;
  color: white;
  margin: 20px; }

/* Head title */
.headtitle {
  color: black;
  text-decoration-line: none;
  font-family: 'Dancing Script', cursive;
  font-size: 30px; }

/* Footer */
.footer {
  color: white;
  text-decoration-line: none;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  height: 100px;
  margin-top: 100px;
  background-image: url(../imagenes/fondo2.jpg); }

/* tabla index */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(1, 400px);
  align-content: baseline;
  gap: 150px;
  justify-content: space-evenly;
  font-family: 'IBM Plex Mono';
  font-size: 15px; }

.table {
  text-align: center;
  background-color: #ce496e;
  border: 5px dashed #EDF7F5;
  font-weight: bolder; }
  .table__thead-th {
    background-color: #000000;
    color: white; }
  .table__tbody-tr-td {
    background-color: #ce496e;
    color: black; }

/* Form Index */
.form1 {
  font-family: 'IBM Plex Mono';
  font-size: 12px;
  display: flex;
  background-color: #ce496e;
  flex-direction: column;
  border: 5px dashed #EDF7F5;
  color: black;
  font-weight: bolder; }
  .form1__2 {
    border: none;
    background-color: #FDFEFE;
    margin: 10px;
    width: 200px;
    height: 20px;
    outline: none;
    border: solid #EDF7F5;
    font-family: 'IBM Plex Mono'; }
    .form1__2:focus {
      width: 300px; }
  .form1__3 {
    border: none;
    background-color: #FDFEFE;
    margin: 10px;
    width: 200px;
    height: 20px;
    outline: none;
    border: solid #EDF7F5;
    font-family: 'IBM Plex Mono'; }
    .form1__3:focus {
      width: 300px; }
  .form1__4 {
    border: none;
    background-color: #ce496e; }
    .form1__4-h3 {
      background-color: #ce496e; }
  .form1__5-mesas {
    list-style-type: none;
    background-color: #ce496e; }
    .form1__5-mesas-1 {
      background-color: #ce496e !important; }
  .form1__6 {
    margin: 10px;
    width: 2.5cm;
    outline: none;
    border: solid #EDF7F5;
    font-family: 'IBM Plex Mono';
    background-color: #ce496e; }
    .form1__6:focus {
      width: 100px;
      height: 50px; }

/* botones form 1 */
.enviar {
  color: #FDFEFE;
  background-color: #000000;
  border-radius: 10px;
  margin: 10px;
  width: 2cm;
  font-family: 'IBM Plex Mono'; }

.limpiar {
  color: #FDFEFE;
  background-color: #000000;
  border-radius: 10px;
  margin: 10px;
  width: 2cm;
  font-family: 'IBM Plex Mono'; }

/* Imagenes pag productos */
.imagenes {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  transform: translate(50px);
  justify-content: space-evenly; }
  .imagenes__deproductos--1 {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: auto;
    transform: rotate(10deg);
    transition: all 1s ease;
    display: flex;
    justify-content: space-between 100px; }
    .imagenes__deproductos--1:hover {
      transform: rotate(0deg);
      border: dashed 5px #000000;
      background-color: #FDFEFE;
      width: 300px;
      height: 300px; }

.figcaption {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  color: #000000;
  display: block;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Form pag Votar */
.form2 {
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  background-color: #c4ff87;
  flex-direction: column;
  border: 5px dashed #405e21;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }
  .form2__h2 {
    background-color: #c4ff87;
    color: #000000;
    font-size: 150%;
    display: flex;
    justify-content: center; }
  .form2__p {
    color: #000000;
    margin: 5px;
    background-color: #c4ff87; }
  .form2__suscripcion {
    background-color: #c4ff87;
    color: #000000;
    font-size: 150%;
    display: flex;
    justify-content: center; }
  .form2__enviar {
    color: #FDFEFE;
    background-color: #000000;
    border-radius: 10px;
    margin: 10px;
    width: 2cm; }
  .form2__limpiar {
    color: #FDFEFE;
    background-color: #000000;
    border-radius: 10px;
    margin: 10px;
    width: 2cm; }
  .form2__si {
    background-color: #c4ff87; }
  .form2__no {
    background-color: #c4ff87; }

/* Contacto */
.listadecontacto {
  display: flex;
  display: block; }

.icon {
  list-style-type: none;
  margin: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 30px; }

.icon-phone {
  content: "\e942"; }

.icon-envelop::before {
  content: "\e945"; }

.icon-facebook2:before {
  content: "\ea91"; }

/* Nosotros */
.ppag4 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px; }

.ppag4::first-letter {
  font-size: 60px; }

.ppag4::selection {
  background-color: #d81159; }

* {
  background-color: #f4fe29; }

ul {
  list-style-type: none; }

a {
  text-decoration-line: none; }

@media (max-width: 991.98px) {
  .grid {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, 400px);
    gap: 20px;
    align-content: center;
    justify-content: center;
    justify-content: space-between; }
  .footer {
    margin-top: 10px; }
  .form2 {
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 767.98px) {
  .grid {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, 400px);
    gap: 20px;
    align-content: center;
    justify-content: center;
    justify-content: space-between; }
  .imagenes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center !important;
    transform: none; }
  .imagenes__deproductos--1:hover {
    width: 200px;
    height: 200px; }
  .nav {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px; }
  .footer {
    margin-top: 10px; }
  .form2 {
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 575.98px) {
  .headtitle {
    font-size: 20px; }
  .titulo {
    font-size: 40px; }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    align-content: center;
    justify-content: center;
    justify-content: space-between; }
  .imagenes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center !important;
    transform: none; }
  .imagenes__deproductos--1:hover {
    width: 200px;
    height: 200px; }
  .nav {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px; }
  .footer {
    margin-top: 10px; }
  .form2 {
    margin: 0 auto;
    width: 100%; }
  .icon {
    font-size: 15px; }
  .form1 {
    width: 300px; }
  .form2__h2 {
    font-size: medium; }
  .form2__suscripcion {
    font-size: medium; }
  .table {
    font-size: 10px;
    width: 300px; } }
