/* Titulo */
.titulo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%; }
  .titulo__1 {
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-size: 85px;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    width: 100%; }

.navbar1 {
  background-color: white; }

/* Head title */
.headtitle {
  color: black;
  text-decoration-line: none;
  font-family: 'Dancing Script', cursive;
  font-size: 30px; }

/* Footer */
.footer {
  color: white;
  text-decoration-line: none;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  height: 100px;
  background-color: #FF4A66; }

/* index */
.gridindex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: space-evenly;
  align-items: center;
  color: white; }

.tableflex {
  display: flex;
  justify-content: center; }

.table1 {
  text-align: center;
  background-color: white;
  font-weight: bolder;
  margin: 20px; }
  .table1__thead-th {
    background-color: #000000;
    color: white; }
  .table1__tbody-tr-td {
    background-color: white;
    color: black; }

.videoflex {
  display: flex;
  justify-content: center; }

.video {
  margin: 50px;
  width: 600px;
  height: 500px; }

/* Imagenes pag productos y votar */
.imagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: space-evenly;
  gap: 20px;
  padding: 30px; }
  .imagenes__deproductos {
    background-color: white;
    color: white; }

.imagenes__deproductos--1 {
  width: 200px;
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: space-between 100px;
  background-color: white; }

.carousel-item {
  width: 100%;
  height: 300px; }

.carousel-inner {
  width: 100%;
  height: 300px; }

.imagencarousel {
  width: 100%;
  height: 300px; }

/* Contacto */
.gridcontacto {
  font-family: 'IBM Plex Mono';
  font-size: 15px;
  color: white; }

.listadecontacto {
  display: flex;
  justify-content: center; }

.listadecontacto2 {
  display: flex;
  justify-content: center; }

.formcontacto {
  display: flex;
  justify-content: center; }

.form-control {
  width: 300px; }

.form-select {
  width: 300px; }

.textoicono {
  font-size: 20px; }

.icon {
  list-style-type: none;
  margin: 25px;
  font-family: 'Dancing Script', cursive;
  font-size: 30px; }

.icon-phone {
  content: "\e942"; }

.icon-envelop::before {
  content: "\e945"; }

.icon-facebook2:before {
  content: "\ea91"; }

/* Nosotros */
.ppag4 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
  color: white; }

.ppag4::first-letter {
  font-size: 60px;
  color: white; }

.ppag4::selection {
  background-color: #FF4A66; }

.imagenesnosotros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center; }
  .imagenesnosotros__1-2 {
    width: 300px;
    height: 300px;
    margin: 30px; }
    .imagenesnosotros__1-2:hover {
      width: 400px;
      height: 400px; }

* {
  background-color: black; }

ul {
  list-style-type: none; }

a {
  text-decoration-line: none; }

@media (max-width: 991.98px) {
  .gridindex {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, 400px);
    gap: 20px; }
  .imagenesnosotros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .imagenesnosotros__1 {
      display: flex;
      justify-content: center; }
  .table1 {
    width: 500px;
    height: 500px; }
  .gridcontacto {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, 400px);
    gap: 20px; }
  .video {
    width: 500px;
    height: 500px; } }

@media (max-width: 767.98px) {
  .gridindex {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, 400px);
    gap: 10px; }
  .table1 {
    width: 400px;
    height: 400px; }
  .gridcontacto {
    display: grid;
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(3, 400px);
    gap: 20px; }
  .imagenes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center; }
  .imagenesnosotros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .imagenesnosotros__1 {
      display: flex;
      justify-content: center; }
  .video {
    width: 400px;
    height: 400px; } }

@media (max-width: 575.98px) {
  .headtitle {
    font-size: 20px; }
  .titulo__1 {
    font-size: 40px; }
  .gridindex {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px; }
  .table1 {
    width: 300px;
    height: 300px; }
  .gridcontacto {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px; }
  .listadecontacto {
    display: flex;
    justify-content: center; }
  .imagenes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: center; }
  .imagenesnosotros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .imagenesnosotros__1 {
      display: flex;
      justify-content: center; }
  .icon {
    font-size: 15px; }
  .video {
    width: 300px;
    height: 300px; } }
