


/* Titulo */


.titulo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

&__1 {
    -webkit-text-stroke: 2px white;
      color: transparent;
    font-size: 85px;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    width: 100%;
}
}


// navbar

.navbar1 {
    background-color: #FF4A66;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;

&__1 {
    background-color: #FF4A66;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;


&-2 {
    background-color: #FF4A66;
}
}
}

.navli {
    background-color: #FF4A66;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;
}

.navbaricon1 {
    background-color: transparent;
}

.navbarul {
    border: none !important;
}

/* Head title */

.headtitle {
    color:  black;
    text-decoration-line: none;
    font-family:'Dancing Script', cursive;
    font-size: 30px;
}


/* Footer */

.footer{
    color:  white;
    text-decoration-line: none;
    font-family:'Dancing Script', cursive;
    font-size: 40px;
    height: 100px;
    background-color: #FF4A66;
}


/* index */


.gridindex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.tableflex {
    display: flex;
    justify-content: center;
}

.table1 {
text-align: center;
background-color: white;
font-weight: bolder;
margin: 20px;

&__thead-th {
    background-color: #000000;
    color: white;
}

&__tbody-tr-td {
    background-color: white;
    color: black;
}

}

.videoflex {
    display: flex;
    justify-content: center;
}

.video {
    margin: 50px;
    width: 600px;
    height: 500px;
}

// pag votar

.botonpagvotar {
    background-color: #FF4A66 !important;
}

.buttonvotar {

    color: white;
    border-color: #FF4A66;
}

/* Imagenes pag productos y votar */

.imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-evenly;
    gap: 20px;
    padding: 30px;

    &__deproductos {
        background-color: white;
        color: white;
}
}

.imagenes__deproductos--1 {
        width: 200px;
        height: 200px;
        padding: 10px;
        display: flex;
        justify-content: space-between 100px;
        background-color: white;
}

// pag productos carrusel

.carrusel1 {
    display: flex !important;
    justify-content: center !important;
}

.imagencarousel {
    width: 600px;
    height: 300px;
}

/* Contacto */
.gridcontacto {
    font-family: 'IBM Plex Mono';
    font-size: 15px;
    color: white;
}

.listadecontacto {
 display: flex;
 justify-content: center;
&__1 {
    display: flex;
    justify-content: center;
}
}

.formcontacto {
display: flex;
justify-content: center;
}

.form-control {
    width: 300px;
}

.form-select {
    width: 300px;
}

.textoicono {
    font-size: 20px;
}

.icon {
    list-style-type: none;
    margin: 25px;
    font-family:'Dancing Script', cursive;
    font-size: 30px;
}

.icon-phone {
        content: "\e942";
}

.icon-envelop::before {
    content: "\e945";
  }

  .icon-facebook2:before {
    content: "\ea91";
  }


/* Nosotros */
.ppag4 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
    color: white;
}

.ppag4::first-letter {
    font-size: 60px;
    color: white;
}

.ppag4::selection {
    background-color: #FF4A66;
}

.imagenesnosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center !important;

&__1 {
    display: flex;
    justify-content: center;

&-2 {
    width: 300px;
    height: 300px;
    margin: 15px;
&:hover {
    width: 400px;
    height: 400px;
}
}
}
}

