


/* Titulo */


.titulo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

&__1 {
    background-color: #185224;
    -webkit-text-stroke: 2px white;
      color: transparent;
    font-size: 85px;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    width: 100%;
}
}

/* Head title */

.headtitle {
    color:  black;
    text-decoration-line: none;
    font-family:'Dancing Script', cursive;
    font-size: 30px;
}


/* Footer */

.footer{
    color:  white;
    text-decoration-line: none;
    font-family:'Dancing Script', cursive;
    font-size: 40px;
    height: 100px;
    background-image: url(../imagenes/fondo2.jpg);
}


/* index */


.gridindex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
}

.tableflex {
    display: flex;
    justify-content: center;
}

.table1 {
text-align: center;
background-color: #ce496e;
font-weight: bolder;
margin: 20px;

&__thead-th {
    background-color: #000000;
    color: white;
}

&__tbody-tr-td {
    background-color: #ce496e;
    color: black;
}

}

.videoflex {
    display: flex;
    justify-content: center;
}

.video {
    margin: 50px;
    width: 600px;
    height: 500px;
}



/* Imagenes pag productos y votar */

.imagenes {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(1, 1fr);
    justify-content: space-evenly;
    gap: 20px;
    padding: 30px;

    &__deproductos {
        background-color: white;
}
}

.imagenes__deproductos--1 {
        width: 200px;
        height: 200px;
        padding: 10px;
        display: flex;
        justify-content: space-between 100px;
        background-color: white;
}



/* Contacto */
.gridcontacto {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(1, 400px);
    align-content: baseline;
    justify-content: space-evenly;
    font-family: 'IBM Plex Mono';
    font-size: 15px;
}

.listadecontacto {
 display: flex;
 justify-content: center;
}

.form1 {
    background-color: #ce496e !important;
    font-family: 'IBM Plex Mono';
    font-size: 12px;
    display: flex;
    flex-direction: column;
color: black;
font-weight: bolder;
margin-bottom: 30px;

&__2 {
    border:none;
    background-color: #FDFEFE;
    margin: 10px;
    width: 200px;
    height: 20px;
    outline: none;
border: solid #EDF7F5;
font-family: 'IBM Plex Mono';

&:focus {
    width: 300px;
}

}

&__3 {
    border:none;
    background-color: #FDFEFE;;
    margin: 10px;
width: 200px;
height: 20px;
outline: none;
border: solid #EDF7F5;
font-family: 'IBM Plex Mono';

&:focus {
    width: 300px;
}
}


&__4 {
    border:none;
    background-color: #ce496e;

&-h3  {
    font-size: 20px;
    background-color: #ce496e;
}

}

&__5-mesas {
    list-style-type: none;
    background-color: #ce496e;

&-1 {
    background-color: #ce496e !important;
}
}



&__6 {
    margin: 10px;
    width: 4cm;
    outline: none;
    border: solid #EDF7F5;
    font-family: 'IBM Plex Mono';
    background-color: #ce496e;

    &:focus {
        width: 100px;
        height: 50px;
    }
}
}

/* botones form 1 */

.enviar {
    color: #FDFEFE;
background-color: #000000;
border-radius: 10px;
margin: 10px;
width: 2cm;
font-family: 'IBM Plex Mono';
}

.limpiar {
    color: #FDFEFE;
background-color: #000000;
border-radius: 10px;
margin: 10px;
width: 2cm;
font-family: 'IBM Plex Mono';
}

.listadecontacto {
    display: flex;
    display: block;
}

.textoicono {
    font-size: 20px;
}

.icon {
    list-style-type: none;
    margin: 25px;
    font-family:'Dancing Script', cursive;
    font-size: 30px;
}

.icon-phone {
        content: "\e942";
}

.icon-envelop::before {
    content: "\e945";
  }

  .icon-facebook2:before {
    content: "\ea91";
  }


/* Nosotros */
.ppag4 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
}

.ppag4::first-letter {
    font-size: 60px;
}

.ppag4::selection {
    background-color: #d81159;
}

.imagenesnosotros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
}

.imagennosotros {
    width: 300px;
    height: 300px;
    margin: 30px;
}

