
*{
    background-color: #f4fe29;
}

ul {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

@media (max-width: 991.98px) {

    .gridindex {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 400px);
        gap: 20px;
    }


    .imagenesnosotros {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .table1 {
        width: 500px;
        height: 500px;
    }

    .gridcontacto {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 400px);
        gap: 20px;
    }

    .video {
        width: 500px;
        height: 500px;
    }
    }


 @media (max-width: 767.98px) { 

    .gridindex {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 400px);
        gap: 10px;
    }

    .table1 {
        width: 400px;
        height: 400px;
    }

    .gridcontacto {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 400px);
        gap: 20px;
    }

    .imagenes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-content: center;
    }

    .imagenesnosotros {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .video {
        width: 400px;
        height: 400px;
    }
}


  @media (max-width: 575.98px) {

    .headtitle {
        font-size: 20px;
    }

    .titulo__1 {
        font-size: 40px;
    }


    .gridindex {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }  

    .table1 {
        width: 300px;
        height: 300px;
    }

    .gridcontacto {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }

    .listadecontacto {
        display: flex;
        justify-content: center;
    }

    .imagenes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-content: center;
    }

.imagenesnosotros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

    .icon {
        font-size: 15px;
    }

    .video {
        width: 300px;
        height: 300px;
    }
  }
