
*{
    background-color: black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

@media (max-width: 991.98px) {

    .gridindex {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 400px);
        gap: 20px;
    }


    .imagenesnosotros {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
    
        &__1{
            display: flex;
            justify-content: center;
            }
    
    }

    .table1 {
        width: 500px;
        height: 500px;
    }

    .gridcontacto {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 400px);
        gap: 20px;
    }

    .video {
        width: 500px;
        height: 500px;
    }
    }


 @media (max-width: 767.98px) { 

    .gridindex {
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 400px);
        gap: 10px;
    }

    .table1 {
        width: 400px;
        height: 400px;
    }

    .gridcontacto {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-template-rows: repeat(3, 400px);
        gap: 20px;
    }

    .imagenes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-content: center;
    }

    .imagenesnosotros {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
        &__1{
            display: flex;
            justify-content: center;
            }
    
    }

    .video {
        width: 400px;
        height: 400px;
    }
}


  @media (max-width: 575.98px) {

    .headtitle {
        font-size: 20px;
    }

    .titulo__1 {
        font-size: 40px;
    }


    .gridindex {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
    }  

    .table1 {
        width: 300px;
        height: 300px;
    }

    .gridcontacto {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
        justify-content: center;
    }

    .listadecontacto {
        display: flex;
        margin-top: 100px;
        
        &__1 {
            display: block;
        }
    }

    .licontacto {
        font-size: small;
    }

    .form-control {
        width: 200px;
    }

    .form-select {
        width: 200px;
    }

    .labelvotar {
        display: none;
    }

    .imagenes {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-content: center;
    }

.imagenesnosotros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);

&__1{
display: flex;
justify-content: center;
}
}

.ppag4 {
text-align: center;
}

    .icon {
        font-size: 15px;
    }

    .video {
        width: 300px;
        height: 300px;
    }
  }
